@{
    ViewBag.Title = "About";
}
<script src="js/jquery-2.1.0.js"></script>
<script src="js/bootstrap.js"></script>
<div id="wrapper">
    <div class="primary-services">
        <div class="pane" id="start-explanation">
            <div class="container drop-shadow">
                <div class="row clearfix row-md-height">
                    <div class="col-md-6 col-sm-12">
                        <h3>О нашей компании</h3>
                        <p> "Орфей" является молодой динамично развивающейся компанией, где все работают на достижение максимального комфорта для клиента. Мы ворвались на рынок музыкальных компакт-дисокв не так давно и уже успели сделать себе имя.</p>
                        <p> Широкий ассортимент музыкальных компакт-дисков, отзывчивые консультанты и демократичные цены по сравнению с конкурентами являются синонимами нашего магазина.</p>
                        <p><strong>Контактное лицо:</strong> Киселёв Игорь Николаевич <span class="badge badge-warning"><i class="glyphicon glyphicon-earphone"></i> (351) 555-55-55</span><p>
                        <p class="address"><strong>Юридический адрес:</strong> 454000, г. Челябинск, ул. Пушкина, д. 00</p>
                        <p><strong>Электронная почта:</strong><a href="mailto:musicforhome@gmail.com"></a> musicforhome@gmail.com</p>
                    </div>
                    <div class="col-sm-12 col-md-6 hidden-xs">
                        <div class="panel text-center hidden-xs" style="">
                            <h3>Как нас найти?</h3>
                            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=DS0B9R9R3wuwhy0W13GBbTz3BYv_xZz9&width=550&height=400"></script>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
   
   
