@model IEnumerable<MusStore.Models.Genre>

<ul class="glyphicon-headphones">
    @foreach (var genre in Model)
    {
        <li>
            @Html.ActionLink(genre.Name,
                "Browse", "Store",
                new { Genre = genre.Name }, null)
    </li>
    }
</ul>

